body {
background-color:black;}
h1{color:white;}
h2{color:white;}
p{color:white;}
p {
    font-family: 'Source Sans Pro', sans-serif;}
h2 {font-family: 'Fira Sans Condensed', sans-serif;}
h1 {font-family: 'Fira Sans Condensed', sans-serif;}
